<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="TestNG Duite">

<listeners>

<listener class-name="retryMechnasim.Trasformer" />

</listeners>

  <test name="TestNG Features">
  
  <parameter name="url" value="https://login.yahoo.com/" />
  <parameter name="userame" value="mpnithin1992@yahoo.in" />
  
    <classes>
    
      <class name="retryscript.TestngRetryScript" />
     
    </classes>
    
  </test> 
  
</suite> 